{% include 'header.html' %}

<style type="text/css">

.preamble-text {
    border: inset;
    border-top-color: white;
    border-left-color: white;
    border-right-color: gray;
    border-bottom-color: gray;
    position: relative;
    right: 0;
    padding: 2%;
    font-size: 1rem;
    width: 30%;
}
  .preamble {
    font-style: italic;
    font-size: 3.5rem;
    line-height: 2;
  }

  .mickey-hold {
    position: absolute;
    right: 35%;
    bottom: 15%;
    text-align: center;
  }
  .nick-hold {
    position: absolute;
    right: 35%;
    bottom: 53%;
    text-align: center;
  }
  .po-hold {
    position: absolute;
    right: 15%;
    bottom: 15%;
    text-align: center;
  }
  .mackenzie-hold {
    position: absolute;
    right: 15%;
    bottom: 53%;
  }

  </style>
<div class="container">
    <div class="main-content-area-container">
        <div class="preamble-text h-100 mb-5">
            <h1 class="preamble">Welcome</h1><br>
            <h3>“Ponimazi Forum is proud to provide your the best service.”</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="mickey-hold rounded">
            <img src="{{ url_for('static', filename='mickey-hold.jpg') }}" width="200" height="200" alt="">
            <h3>Mickey Vang</h3>
        </div>
        <div class="nick-hold rounded">
            <img src="{{ url_for('static', filename='nick-hold.jpg') }}" width="200" height="200" alt="">
            <h3>Nick Delallo</h3>
        </div>
        <div class="mackenzie-hold rounded">
            <img src="{{ url_for('static', filename='mackenzie-hold.jpg') }}" width="200" height="200" alt="">
            <h3>Kenzie Teaster</h3>
        </div>
        <div class="po-hold rounded">
            <img src="{{ url_for('static', filename='po-hold.jpg') }}" width="200" height="200" alt="">
            <h3>Po Nguyen</h3>
        </div>
    </div>
</div>

{% include 'footer.html' %}

